@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: #1a1c1f;
}

body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
  text-underline-offset: 1px;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#6366f1, #6366f1)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
